In [1]:
import numpy as np
import pandas as pd

In [2]:
df=pd.read_csv('/content/a2_RestaurantReviews_FreshDump (1).tsv', delimiter = '\t')
df.head()

                                              Review
0                        Spend your money elsewhere.
1  Their regular toasted bread was equally satisf...
2  The Buffet at Bellagio was far from what I ant...
3                   And the drinks are WEAK, people!
4                         -My order was not correct.

In [3]:
import re
import nltk
from nltk.corpus import stopwords
from nltk.stem import PorterStemmer
ps=PorterStemmer()
nltk.download('stopwords')
corpus=[]
for i in range(len(df)):
  words=re.sub('[^a-zA-Z]',' ',df['Review'][i])
  words=words.lower()
  words=words.split()
  words=[ps.stem(word) for word in words if word not in set(stopwords.words('english'))]
  words=' '.join(words)
  corpus.append(words)

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

In [4]:
from sklearn.feature_extraction.text import CountVectorizer
import pickle
cvFile='/content/c1_BoW_Sentiment_Model.pkl'
cv=pickle.load(open(cvFile,'rb'))

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:338: UserWarning: Trying to unpickle estimator CountVectorizer from version 1.0.1 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  UserWarning,

In [5]:
X_fresh=cv.transform(corpus).toarray()
X_fresh.shape

(100, 1420)

In [6]:
import joblib
gnb=joblib.load('/content/c2_Classifier_Sentiment_Model')

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:338: UserWarning: Trying to unpickle estimator GaussianNB from version 1.0.1 when using version 1.0.2. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/modules/model_persistence.html#security-maintainability-limitations
  UserWarning,

In [7]:
y_pred=gnb.predict(X_fresh)
print(y_pred)

[0 1 1 0 0 1 0 0 0 1 1 0 0 1 0 1 0 0 0 1 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0
 0 1 0 0 0 0 0 1 0 1 0 0 1 0 0 1 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0 0 1 1 0
 0 1 0 0 0 0 1 0 0 1 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 0]

In [8]:
df['Predicted Label']=y_pred.tolist()
df.head()

                                              Review  Predicted Label
0                        Spend your money elsewhere.                0
1  Their regular toasted bread was equally satisf...                1
2  The Buffet at Bellagio was far from what I ant...                1
3                   And the drinks are WEAK, people!                0
4                         -My order was not correct.                0